body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --peachGlow: #F2C18E;
  --glaucous: #676F9D;
  --spaceIndigo: #2D3250;
  --whiteSmoke: #F4F4F4;
  --graphite: #2B2B2B;
  --alabasterGray: #E3E3DE;
  --silver: #B8B8B2;
}