.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 30px 40px;
    width: 100%;
    padding-inline: 40px;
    max-width: 2000px;
    position: sticky;
    top: 0;
    background-color: white;

    a img {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-color: var(--silver);
    }

    .header-links {
        display: flex;
        flex-direction: row;
        gap: 60px;
        border-bottom: 2px solid var(--silver);
        padding: 10px 10px 8px 120px;

        a {
            font-family: 'inter', sans-serif;
            font-size: 16px;
            font-weight: 500;
            color: var(--glaucous);
            font-weight: 700;

            &.active {
                color: var(--spaceIndigo);
            }
        }
    }

.classroom-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.65rem 1.25rem;
  border-radius: 2rem;
  font-weight: 600;
  font-size: 0.875rem;
  cursor: pointer;
  border: none;
  transition: all 0.2s;
}   

.classroom-btn {
  background-color: #6B73A1;
  color: white;
  box-shadow: 0 2px 6px rgba(107, 115, 161, 0.3);
}

.classroom-btn:hover {
  background-color: #525983;
}


}